footer
	width 100%
	float left
	.footer-content
		width 100%
		float left
		.footer-menu
			width 30%
			float left 
			padding 2%
		.footer-social
			width 70%
			float left 
			border-left solid purple 1px
			padding 2%
			.footer-social-icons
				width 100%
				float left 
				.footer-fb
					width 70px
					height 70px
					border-radius 50%
					border solid 1px purple
					background-color purple
					tex-align center
					color white
					span 
						text-align center
						


			 
	