
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#header
	width 100%
	float left
	z-index 1
	position fixed
	border-bottom solid 1px white 
	.header-content
		width 100%
		float left 
		padding  0% 10%
		margin 0
		.header-logo
			width 20%
			float left 
			img 
				height 80px
				width 50px
		.header-menu
			width 80% 
			float left 
			nav
				width 100%
				float left 
				text-transform uppercase
				ul 
					display block
					list-style none
					li 
						display inline-block
						padding 2% 8%
						a 
							text-decoration none
							color white
							&:hover
								text-decoration underline
								