#header
	width 100%
	float left
	z-index 1
	position fixed
	border-bottom solid 1px white 
	.header-content
		width 80%
		float left 
		padding  0% 10%
		margin 0
		.header-logo
			width 20%
			float left 
			img 
				height 80px
				width 50px
		.menu
			width 80% 
			float left 