section#contact.contact
	.container
		.block-intro
			h1| Contato
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		.block-form
			.side-form
				form
					.form-group
						input.form-control(placeholder="Digite seu nome")
						label.form-identifier(for="a"): i.fa.fa-user
					.form-group
						input.form-control(placeholder="Digite seu nome")
						label.form-identifier(for="a"): i.fa.fa-user
					.form-group
						input.form-control(placeholder="Digite seu nome")
						label.form-identifier(for="a"): i.fa.fa-user
					.form-group
						input.form-control(placeholder="Digite seu nome")
						label.form-identifier(for="a"): i.fa.fa-user
					.form-group.full
						textarea.form-control(placeholder="Digite sua mensagem", rows="8")
					.form-group.full
						button.btn-send
							i.fa.fa-paper-plane
							| Enviar
			.side-fb
				h2| Você também pode curtir nosso facebook
				.wrapper-iframe
					<div class="fb-page" data-href="https://www.facebook.com/TheMentalistProject/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TheMentalistProject/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TheMentalistProject/">The Mentalist Project</a></blockquote></div>