section#depositions
	.container
		h1| Depoimentos
		.block-depositions
			each val in [1, 2, 3]
				.item-deposition
					.content-item
						.overlay-item
						blockquote
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ul
							footer| Bruce Wayne
							img(src="http://oneclickpixels.com/investable/assets/images/people/person-4.jpg")