section#home
	.overlay
		.container
			h1| <span>Bank Fácil</span>
			h2| Faça a simulação <br />do seu crédito agora
			.form-simulator
				.field-wrapper
					input.form-control
					label.form-identifier: span
						i.fa.fa-user
						| Someone input
				.field-wrapper
					input.form-control
					label.form-identifier: span
						i.fa.fa-user
						| Someone input
				.field-wrapper
					input.form-control
					label.form-identifier: span
						i.fa.fa-user
						| Someone input
				.field-wrapper
					button.btn-simulate
						i.fa.fa-paper-plane
						| Simulate
			.wrapper-logo
				img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Deep_Silver_White_Logo.png/417px-Deep_Silver_White_Logo.png")