section#question
        .container
                .question-presentation
                        h1|Perguntas Frequentes
                .car 
                        h2|Veículos
                        .query
                                h3|O Bank Integrado cobra alguma tarifa?
                                .answer
                                        span|Não há cobrança pelo serviço e todos os custos da operação podem fazer parte do crédito a ser concedido.
                        .query
                                h3|O que é refinanciamento de veículo?
                                .answer
                                        span|É uma linha de crédito onde vocẽ coloca um veículo como garantia de pagamento e por ter a garantia vocẽ consegue taxas baixas comparado com o crédito pessoal.
                        .query
                                h3|Qual é a renda mínima necessária?
                                .answer
                                        span|Não existe um mínimo. Porém, as parcelas não podem superar 30% da sua renda familiar.
                        .query
                                h3|Qual o máximo que posso solicitar?
                                .answer
                                        span|Não existe um máximo. Mas o valor solicitado não pode superar de 70% a 90% (dependendo do ano e modelo de fabricação) do valor de tabela do veículo.
                        .query
                                h3|Quem pode compor renda comigo?
                                .answer
                                        span|Pai, mãe, irmãos, filhos, cônjuge ou parceiro com união estável. Compondo renda você amplia sua capacidade de pagamento.
                        .query
                                h3|Preciso entregar meu veículo?
                                .answer
                                        span|Não, o veículo permanece em seu nome e alienado ao banco. E a alienação é retirada na liquidação do empréstimo.
                        .query
                                h3|O veículo precisa estar quitado?
                                .answer
                                        span|Não necessariamente. É possível obter empréstimo se o saldo da dívida não ultrapassar o valor solicitado.
                        .query
                                h3|Posso quitar o empréstimo quando quiser?
                                .answer
                                        span|Sim, a quitação pode ser feita a qualquer momento e os juros restantes são retirados. Conforme o código de defesa do consumidor.
                .house
                        h2|Imóveis
                        .query
                                h3|O Bank Integrado cobra alguma tarifa?
                                .answer
                                        span|Não há cobrança pelo serviço e todos os custos da operação podem fazer parte do crédito a ser concedido.
                        .query
                                h3|O que é refinanciamento de imóvel?
                                .answer
                                        span|É uma linha de crédito onde você coloca um imóvel como garantia de pagamento (alineação fiduciária). Por ter uma garantia de pagamento é possível conseguir empréstimos de valores mais elevados e as taxas de juros costumam ser mais baixas do que em outras modalidades de crédito.
                        .query          
                                h3|Qual é a renda mínima necessária?
                                .answer
                                        span|Não existe um mínimo. Porém, as parcelas não podem superar 30% da sua renda familiar.
                        .query
                                h3|Quem pode compor renda comigo?
                                .answer 
                                        span|Pai, mãe, irmãos, filhos, cônjuge ou parceiro com união estável. Compondo renda você amplia sua capacidade de pagamento.
                        .query
                                h3|Preciso entregar meu imóvel?
                                .answer
                                        span|Não, o imóvel permanece em seu nome e não é necessário desocupá-lo. Você pode continuar morando no imóvel.
                        .query
                                h3|O imóvel precisa estar quitado?
                                .answer
                                        span|Não necessariamente. É possível obter empréstimo se o valor do empréstimo e da dívida somados não ultrapassarem metade do valor do imóvel.
                        .query
                                h3|Posso quitar o empréstimo quando quiser?
                                .answer
                                        span|Sim, a quitação pode ser feita a qualquer momento e os juros restantes são retirados. Conforme o código de defesa do consumidor.
                        .query          
                                h3|Quando recebo o dinheiro?
                                .answer
                                        span|O processo de solicitação leva cerca de 30 a 60 dias após a entrega da documentação, podendo variar de acordo com seu perfil e a política de cada instituição.
