section#contact
	width 100%
	float left 
	background-color #EFE9FF
	.contact-content
		widht 100%
		float left 
		padding 1%
		h2
			font-size 3.2em
			color $blue2
			text-transform uppercase
			padding 0
			margin 0
		p
			font-size 1.1em
			color #707070
		.form-area
			width 100%
			float left 
			form 
				width 100%
				float left 
				.form-name
					width 43%
					height 35px
					padding 0% 2.5%
					float left 
					font-size 20px
					border solid 1px $blue1
					border-radius 0px
					margin 1%
					color $blue1
					background-color #aaaaFF
				.form-fone
					width 43%
					height 35px
					padding 0% 2.5%
					float left 
					font-size 20px
					border solid 1px $blue1
					border-radius 0px
					margin 1%
					color $blue1
					background-color #aaaaFF
				.form-mail
					width 43%
					height 35px
					padding 0% 2.5%
					float left 
					font-size 20px
					border solid 1px $blue1
					border-radius 0px
					margin 1%
					color $blue1
					background-color #aaaaFF
				.form-ass
					width 43%
					height 35px
					padding 0% 2.5%
					float left 
					font-size 20px
					border solid 1px $blue1
					border-radius 0px
					margin 1%
					color $blue1
					background-color #aaaaFF
				.form-msg
					width 88%
					height 200px
					padding 0% 2.5%
					float left 
					font-size 20px
					border solid 1px $blue1
					border-radius 0px
					margin 1%
					color $blue1
					background-color #aaaaFF

				