section#question
        size 100
        paddin 50px 0 70px 0
        .question-presentation
                size 100
                h1
                        font-size 3.2em
                        color $blue1
                        text-transform: uppercase;
        .car
                size 100
                padding 0% 5%
                h2
                        font-size 2em
                        color darken($blue2 , 35%)
                        text-align center
                .query
                        size 100
                        margin 0.5% 0 0 0
                        h3
                                margin 0
                                text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5);
                                font-size 1.35em
                                padding 0.1% 0%
                                color #696969
                                border-bottom: solid 1px  #696969
                        .answer
                                size 100
                                padding 0% 0% 0% 5%
                                span
                                        color darken($blue2, 35%)
                                        font-size 1.2em
        .house
                size 100
                padding 0% 5%
                h2
                        font-size 2em
                        color darken($blue2 , 35%)
                        text-align center
                .query
                        size 100
                        margin 0.5% 0 0 0
                        h3
                                margin 0
                                text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5);
                                font-size 1.35em
                                padding 0.1% 0%
                                color #696969
                                border-bottom: solid 1px  #696969
                        .answer
                                size 100
                                padding 0% 0% 0% 5%
                                span
                                        color darken($blue2, 35%)
                                        font-size 1.2em
