footer.footer#footer
	.container
		.footer-content
			.footer-social
				h1 social
				<p><i class="fa fa-phone" aria-hidden="true"></i> (99) 99999-9999 </p>
				<p><i class="fa fa-envelope" aria-hidden="true"></i> contato@bankintegrado.com.br</p>
				.footer-social-icons
					.footer-sc#footer-fb
						<span class="fa fa-facebook" aria-hidden="true"></span>
					.footer-sc#footer-tt
						<span class="fa fa-twitter" aria-hidden="true"></span>
					.footer-sc#footer-li
						<span class="fa fa-linkedin" aria-hidden="true"></span>
					.footer-sc#footer-gp
						<span class="fa fa-google-plus" aria-hidden="true"></span>
			.footer-menu
				h1 menu
				ul
					li: a(href="#home", title="Home")| Simular
					li: a(href="#about", title="About")| Sobre
					li: a(href="#depositions", title="Depositions")| Depoimentos
					li: a(href="#contact", title="Contact")| Contato
				span Bank Integrado 2016 - Todos os direitos reservados.

