footer.footer#footer
	.overlay
		.container
			.footer-content
				.block-logo
					img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Deep_Silver_White_Logo.png/417px-Deep_Silver_White_Logo.png")
				.block-social
					ul
						li: a(href="#!"): i.fa.fa-facebook
						li: a(href="#!"): i.fa.fa-twitter
						li: a(href="#!"): i.fa.fa-linkedin
						li: a(href="#!"): i.fa.fa-google-plus
				.block-text
					.wrapper-text
						i.fa.fa-phone
						| (99) 99999-999
					.wrapper-text
						i.fa.fa-envelope
						| contato@bankintegrado.com.br
					.wrapper-text.text-credits
						| Bank Integrado 2016 &copy; Todos os diretios reservados

#fb-root