header#header.header
  .header-content
    .header-logo
      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Deep_Silver_White_Logo.png/417px-Deep_Silver_White_Logo.png")
    .menu
      nav.menu-content
        ul
          li: a(href="#home", title="Home")| Home
          li: a(href="#about", title="About")| Sobre
          li: a(href="#depositions", title="Depositions")| Depoimentos
          li: a(href="#contact", title="Contact")| Contato