header#header.navbar-nofixed
	nav.navbar
		.container
			.nav-logo
				img(src="http://tidytheme.com/alisa/preview/images/logo.png")
			.nav-menu
				ul
					li: a(href="#home")| Home
					li: a(href="#home")| Sobre
					li: a(href="#home")| Depoimentos
					li: a(href="#home")| Contato
			.nav-social
				ul
					li: a(href="#!"): i.fa.fa-facebook
					li: a(href="#!"): i.fa.fa-twitter
					li: a(href="#!"): i.fa.fa-linkedin
					li: a(href="#!"): i.fa.fa-google-plus